body {
    margin: 0;
    padding: 0;
}

#video-grid {
    display: flex;
    justify-content: center;
}


video {
    height: 300px;
    width: 400px;
}

.main {
    height: 100vh;
    display: flex;
}

.main-left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main-videos {
    flex-grow: 1;
    background-color: rgb(18, 18, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-controls {
    display: flex;
    background-color: #1C1E20;
    color: #D2D2D2;
    padding: 5px;
    justify-content: space-between;
}

.main-controls-block {
    display: flex;
}

.main-controls-button {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
    font-size: 18px;
}

.main-controls-button:hover{
    background-color: #343434;
    border-radius: 5px;
}

.leave_meeting{
    color: #EB534B;
}

.main-right {
    display: flex;
    flex: 0.2;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3d3d42;
}

.main-header{
    color: #f5f5f5;
    text-align: center;
}

.main-chat-window{
    flex-grow: 1;
    overflow-y: scroll;
}

.main-message-container{
    padding: 22px 12px;
    display: flex;
}

.main-message-container input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
}

.messages {
    color: white;
    list-style: none;
}

.unmute{
    color: #CC3B33;
}